h1 {
    text-align: center;
	color: #2165CF;
	display: inline-block;
}
p {
	text-align: left;
	color: #3421CF;
	width: 60%;
	display: inline-block;
}
body {
	
	background-image: url("grid.png");
}
#logo {
	width: 20%;
	display: inline-block;
}