h1 {
    text-align: center;
	color: #2165CF;
}
#summary {
	position:fixed;
	text-align: justify;
	color: #3421CF;
	width: 25%;
	display: inline-block;
	left: 75%;
	top:60%;
}
body {
	
	background-image: url("grid.png");
    background-attachment: fixed;
}
#selfpic{
	width: 17%;
	display: inline-block;
	left: 80%;
	position: fixed;
	top: 10%
}
#logo {
	position: fixed;
    left: 0px;
    top: 0px;
	width: 20%;
	display: inline-block;
	z-index: -1;
	opacity: 0.2;
}
#entries {
	text-align: left;
	color: #21BCCF;
	width: 40%;
	position: relative;
	left: 30%;
	display: inline-block;
}